.header-color {
  background: #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffc371,
    #ff5f6d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffc371,
    #ff5f6d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffc371,
    #ff5f6d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffc371,
    #ff5f6d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
img {
  height: 250px;
  padding-top: 5em;
  border-radius: 100%;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  margin-top: 200 px;
}
.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 30px;
  padding: 2em;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 20px;
}
