.header-color {
  background: #348f50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #56b4d3,
    #348f50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #56b4d3,
    #348f50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #1f1c2c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #928dab,
    white
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    antiquewhite,
    white
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  margin-top: 200 px;
}
.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 30px;
  padding: 2em;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 20px;
}

.projects-grid {
  display: flex;
}
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}
.contact-grid h2 {
  font-display: "IBM", sans- serif;
  font-weight: bold;
}

.contact-grid p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 25px;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-list {
  justify-content: center;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

/* resume css */
.resume-right-col {
  background-color: black;
  padding: 2em;
  margin: auto;
}
.resume-right-col h2 {
  color: aliceblue;
}
.education {
  color: white;
}

.experience {
  color: white;
}

.skills {
  color: white;
}
